No lessons found.

<a href="{{admin_post_url}}" class="button wp-coach-add-lesson" title="">Add a Lesson</a>

<script>
(function($){
  $(document).ready(function(){

    $('.wp-coach-add-lesson').magnificPopup({
      type:'iframe',
      midClick: true // Allow opening popup on middle mouse click. Always set it to true if you don't provide alternative source in href.
    });

  });
})(jQuery)
</script>