<div class="lesson-editor-container">
  <h1>Add a Lesson</h1>


<div id="tabstrip">
  <ul>
      <li class="k-state-active">Basics</li>
      <li>Materials</li>
      <li>Subtopics</li>
  </ul>
  <div>

    <form action="{{create_lesson_url}}" method="post">
      {{{create_lesson_nonce_field}}}

      <div class="form-row">
        <label for="name">Lesson Name</label>
        <input type="text" name="lesson[name]" value="" class="widefat" />
      </div>

      <div class="form-row">
        <label for="name">Lesson Description</label>
        {{{lesson_editor}}}
      </div>

      <div class="form-row">
        <label for="require_payment" class="selectit">
          <input id="require_payment" value="1" type="checkbox" name="lesson[require_payment]"> Charge for this Lesson
        </label>
      </div>

      <input type="submit" value="Save Lesson" />
    </form>

  </div>
  <div>
      + Add a Video
      + Add an Attachment
  </div>
  <div>
    Subtopics are...
  </div>
</div>

<script>
(function($){
  $(document).ready(function() {
    $("#tabstrip").kendoTabStrip();
  });
})(jQuery)
</script>
</div>