<p>No lessons found.</p>

<ul>
</ul>

<a href="{{new_lesson_url}}" class="button wp-coach-add-lesson" title="">Add a Lesson</a>

<script>
(function($){
  $(document).ready(function(){

    $('.wp-coach-add-lesson').magnificPopup({
      type:'iframe',
      midClick: true // Allow opening popup on middle mouse click. Always set it to true if you don't provide alternative source in href.
    });

  });

  // Hook into the heartbeat-send
  $(document).on('heartbeat-send', function(e, data) {
    data['wp_coach_heartbeat'] = {
      action: 'get_course_lessons',
      course_id: 18714
    };
  });

  // Listen for the custom event "heartbeat-tick" on $(document).
  $(document).on( 'heartbeat-tick', function(e, data) {

    if ( ! data['wp-coach-lessons'] ) {
      return;
    }

    var lessons = $.parseJSON( data['wp-coach-lessons'] );

    //console.log( data['wp-coach-lessons'] );
    $.each(lessons, function(index, lesson){
      var li = $('<li />', {
        text: lesson.post_title
      });
      $('#wp-coach-lessons ul').append(li);
    });
    //

    // Update sale count and bold it to provide a highlight
    // $('.edd_dashboard_widget .b.b-sales').text( data['edd-payment-count'] ).css( 'font-weight', 'bold' );
  });

})(jQuery)
</script>