<button class="wp-coach-button wp-coach-add-section" data-bind="click: addSection"><i class="fa fa-plus-circle"></i> Add Section</button>

<table class="wp-coach-table">
  <thead>
    <tr>
      <th>Status</th>
      <th>Name</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody data-bind="foreach: sections, visible: sections().length > 0">
    <tr class="wp-coach-section">
      <td><i class="fa fa-circle-o fa-lg"></i> <span data-bind="text: post_status"></span></td>
      <td data-bind="text: post_title"></td>
      <td class="wp-coach-actions">
        <i class="fa fa-plus-circle fa-lg"></i>
        <i class="fa fa-pencil fa-lg"></i>
        <i class="fa fa-cog fa-lg"></i>
        <i class="fa fa-times-circle-o fa-lg"></i>
      </td>
    </tr>


   <!-- ko foreach: lessons -->
      <tr class="wp-coach-lesson">
        <td><i class="fa fa-circle-o fa-lg"></i> <span data-bind="text: post_status"></span></td>
        <td>&#151; <span data-bind="text: post_title"></span></td>
        <td class="wp-coach-actions">
          <i class="fa fa-pencil fa-lg"></i>
          <i class="fa fa-cog fa-lg"></i>
          <i class="fa fa-times-circle-o fa-lg"></i>
        </td>
     </tr>
   <!-- /ko -->

  </tbody>
</table>

<p data-bind="visible: sections().length > 0">This course has <span data-bind="text: sections().length"></span> section(s)</p>
<p data-bind="visible: sections().length == 0">No Sections</p>

<i class="fa fa-dot-circle-o"></i> Protected
<td><i class="fa fa-check-circle-o"></i> Published</td>

<script>
(function($){
  $(document).ready(function(){

    $('.wp-coach-add-lesson').magnificPopup({
      type:'iframe',
      midClick: true // Allow opening popup on middle mouse click. Always set it to true if you don't provide alternative source in href.
    });

    $('.wp-coach-add-lesson').click(function(e){e.preventDefault();});

  });

})(jQuery)
</script>